.blog_ul{
	  display: flex;
	  flex-direction: column;

	  // No need to set list-style: none; since .list-group-item is block level
	  padding-left: 0; // reset padding because ul and ol
	li{
		@extend .border_btm_1;
		&:last-child{
			border: none;
		}
	}
	
}