
<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <nav id="mainNav" class="navbar navbar-toggleable-md m-0 p-0">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"><i class="fa fa-bars text_black"></i></span> </button>
<!--        <a class="navbar-brand" href="/">Home</a>-->
       <a class="navbar-brand" href="/blog">Home</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"> <a class="nav-link" href="/about">About</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/cv">CV</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/blog">Blogs</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/themes">Themes</a> </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
